/*	=HEADER
----------------------------------------------------------------------*/

@import "navigation";


[role="banner"] {
	@include box-shadow(rgba(#000, .3) 0 1px 10px);
	border-bottom: 1px solid rgba(#000, .4);
	margin-bottom: $lineheight / 2;
	background-image: image-url("header.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 15em;

	h1 {
		margin: 0;
		position: absolute;
		top: .2em;
	}
	
	nav {
		float: right;
	}
	
	.wrapper {
		padding: 0 $lineheight / 2;
	}
	
	[role="search"] {
		font-size: .9em;
	}

	.header-controls {
		float: right;
	}

	.user-details {
		color: #fff;
	}
}

body.logged-in [role="banner"] .header-controls {
	margin: 0;
	padding: 1em 0 1em 1em;
	background-color: rgba(#000, .5);
	border: 1px solid rgba(#000, .2);
	border-width: 0 1px;
}

.top-bar {
	background-color: #000;
	background-color: rgba(#000, .4);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
}

.inner-bar {
	background-color: #000;
	background-color: rgba(#000, .7);
	margin-top: $lineheight;
}