/*
	MEMBER BOXES
*/

.member {
	overflow: hidden;

	hgroup {
		margin-bottom: $lineheight;
	}

	.avatar,
	.member-details {
		float: left;
	}

	.member-details {
		width: 60%;
		margin-left: 8%;
	}

	.description {
		color: $grey;
	}
}