[role="article"] {
	header {
		.meta {
			font-size: .9em;
			margin: $lineheight 0;
		}
	}

	.article-content {
		p {
			margin-bottom: $lineheight;
		}

	 	img {
			display: block;
			margin-top: $lineheight / 2;
			margin-bottom: $lineheight / 2;
		}
	}

	footer {
		nav {
			margin: $lineheight 0;
			font-size: to_em(13);
		}

		.author-info {
			margin: $lineheight 0;
			
			.detail {
				display: block;
			}
		}

		.tags {
			font-size: .8em;
			background-color: lighten($teal, 65%);
			padding: .5em;

			a {
				@include plain-links;
				@include transition(color .15s ease-out);
			}

			&:hover a {
				color: $link-color;
			}	
		}
		
	}
}

/* Special post styling */

[role="article"] {
	&.sticky {

	}

	&.category-lunchforelasningar {
		header h1 {
			@include icon("\f0f5", $margin: 0 10px 0 0, $size: .6em);
			
			/* Style the icon included above */
			&::before {
				background-color: $comp;
				color: #fff;
				@include border-radius(3em);
				padding: 0.35em .5em;
			}
		}
	}
}

/* Style metadata for lunch lectures */

.lunch-lecture-meta {
	$border-color: #e2e2e2;

	border-bottom: 1px solid $border-color;
	display: table;
	width: 100%;
	text-align: center;
	font-size: to_em(16) !important;

	li {
		display: table-cell;
		border-right: 1px solid $border-color;
		padding: .5em 0;

		&:last-child {
			border: 0;
		}
	}
}


/* SINGLE POST */

.single {
	.article-inner {
		@include box;
		padding: 5%;
	}

	[role="complementary"] .pagination {
		font-size: to_em(12);
		margin-bottom: $lineheight;
		@include button-segment;

		.view-news-link {
			display: none;
		}
	}
}