/*
	WIDGETS
	--------------------------------
 */

.widget {
	list-style: none;

	header {
		text-align: left;
	}

	h2, h3 {
		color: #999;
	}
}

li.widget {
	text-align: center;
}

.widgets-list {
	margin-top: 0;
}

.footer-widgets {
	img {
		max-width: 50%;
		opacity: .7;

		&:hover {
			opacity: 1.0;
		}
	}
}