/*
	ARCHIVE VIEW
*/

.search, .archive {
	.main-col .box:first-child {
		position: relative;
	}

	.main-col .annotation {
		@include label;
		position: absolute;
		right: 0;
		top: 0;
		border-width: 0 0 1px 1px;
		@include border-bottom-left-radius(3px);
	}
}

.archive {
	
	.main-col > header {
		border-bottom: 1px solid #eee;
		margin-bottom: $lineheight;

		h2 {
			margin-bottom: .5em;
			font-size: 1.5em;
		}
	}

	[role="article"] {
		margin-bottom: $lineheight*2;
	}
}

/* =NEWS ARCHVE */

.news-archive {
	margin-top: -$lineheight*3;

	.post-nav {
		margin: $lineheight / 2 0;
	}

	.post-list {
		width: 100%;

		td {
			padding: .4em 5px;
		}

		tr {
			border-bottom: 1px solid #eee;
		}

		tr:hover {
			background-color: #f9f9f9;
			text-decoration: none;

			.meta {
				color: #333;
			}
		}

		.meta {
			min-width: 100px;
			font-size: to_em(13);
		}
	}
}

