/*
	BOOKINGS
	--------------------------------
 */

.page-bokning {
	.it-calendar {
		width: 100%;
	}

	article {
		p {
			margin: $lineheight 0;
		}
	}

	.title-container {
		input {
			font-size: 1.3em;
			width: 100%;
		}
	}

	.booking-dates {
		font-size: 1.2em;
	}

	.booking-dates-container,
	.phone-and-groups-container {
		list-style: none;

		li {
			display: inline-block;
			margin: 0 .5em;
		}
	}

	#user-groups {
		width: 140px;
	}

	.contact-details-container {
		list-style: none;

		input {
			width: 100%;
		}

		li {
			width: 48%;
			display: inline-block;
		}
	}

	.submit-container {
		text-align: right;
	}

	.booking-listing {
		li {
			cursor: default;
		}
	}
}