/* =SKRIV UT
------------------------- */

.page-skrivut {
	
	article {
		p {
			margin-bottom: $lineheight;
		}

		label {
			display: block;
		}
	}

	.cid-area {
		text-align: center;

		input {
			text-align: center;
			font-size: 1.2em;
		}

		.description {
			margin: $lineheight 20%;
		}
	}
}