/*	=MEDIUM SIZED SCREENS
----------------------------------------------------------------------*/


@media only screen and (max-width: $screenMedium) {
	
	[role="navigation"].main-nav {
		float: none;
		width: 100%;
		margin: $lineheight 0 0;

		li {
			display: inline-block;
			float: none;
		}

		a {
			padding-top: .5em;
			padding-bottom: .5em;
		}
	}

	[role="banner"] {
		h1 {
			position: static;
		}

		.logo {
			background-position: center;
			width: 100%;
		}

		.inner-bar {
			margin-top: 0;
		}
	}

}