/*	=FORMS
----------------------------------------------------------------------*/

input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
input[type="number"] {
	-webkit-appearance: none;
	font: normal 90%/1 $sans;
	color: $bodycolor;
	border: 1px solid #bebebe;
	padding: 7px 5px;
	
	//@include box-shadow(rgba(#000, .2) 0 1px 2px);
	
	&:focus {
		outline: 0;
		border-color: rgba(desaturate($smurf, 70%), .8);
		@include box-shadow(rgba(darken($smurf, 10%), .7) 0 0 6px);
	}
}


label {
	font-weight: 500;
	color: $grey;

	&[for] {
		cursor: pointer;
	}
}

input[type="search"] {
	@include border-radius(2em);
	padding: 5px;
}

[role="banner"] input[type="search"] {
	@include transition(all .2s ease-out);
	width: 120px;

	&:focus {
		width: 200px;
		font-size: 1.2em;
	}
}