/*	=PAGES
----------------------------------------------------------------------*/

.page {

}


.main-col {
	margin-top: -$lineheight*3;

	& > .box {
		padding: 2% 5% 5%;
	}
}

.article-content {
	font-family: $bodyfont;
	color: #444;

	p {
		margin-bottom: $lineheight;		
	}
}